# Git submodules will be listed here
# Example:
# [submodule "path/to/submodule"]
#   path = path/to/submodule
#   url = https://github.com/user/repo.git

[submodule "funds"]
	path = funds
	url = git@github.com:Brightstar-Research/funds.akinocapital.com.git
[submodule "funds-backend"]
	path = funds-backend
	url = git@github.com:Brightstar-Research/funds.backend.akinocapital.com.git
[submodule "funds.akinocapital.com"]
	path = funds.akinocapital.com
	url = git@github.com:Brightstar-Research/funds.akinocapital.com.git
[submodule "funds.backend.akinocapital.com"]
	path = funds.backend.akinocapital.com
	url = git@github.com:Brightstar-Research/funds.backend.akinocapital.com.git
